<div class="card">
  <span class="text-900 text-xl font-bold mb-4 block">Detailed Match View</span>
  <div class="grid">
    <div class="col-12 lg:col-12">
      <div class="grid formgrid p-fluid">
        <!-- SPIEL -->
        <p-panel header="Spieldaten" [toggleable]="true" class="field mb-4 col-12">
          <div class="field mb-4 col-10 md:col-2">
            <label for="nickname" class="font-medium text-900">Spiel</label>
            <p>Eintracht Braunschweig II - Vfl Osnabrück II</p>
          </div>

          <!-- DATUM -->
          <div class="field mb-4 col-12">
            <label for="email" class="font-medium text-900">Datum</label>
            <p>06.11.2022</p>
          </div>

          <!-- MANNSCHAFTSART -->
          <div class="field mb-4 col-12">
            <label for="country" class="font-medium text-900">Mannschaftsart</label>
            <p>Herren</p>
          </div>

          <!-- LIGA -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Liga</label>
            <p>Kreisliga</p>
          </div>

          <!-- FUNKTION -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Funktion</label>
            <p>2. Assitent</p>
          </div>
        </p-panel>

        <p-panel header="Karten" [toggleable]="true" class="field mb-4 col-12">
          <!-- GELBE KARTEN -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Gelbe Karten</label>
            <p>3</p>
          </div>

          <!-- GELB-ROTE KARTEN -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Gelb-Rote Karten</label>
            <p>1</p>
          </div>

          <!-- ROTE KARTEN -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Rote Karten</label>
            <p>0</p>
          </div>

          <!-- GELBE KARTEN TEAMOFFIZIELLE -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Gelbe Karten Teamoffizielle</label>
            <p>0</p>
          </div>

          <!-- GELB-ROTE KARTEN TEAMOFFIZIELLE -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Gelb-Rote Karten Teamoffizielle</label>
            <p>0</p>
          </div>

          <!-- ROTE KARTEN TEAMOFFIZIELLE -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Rote Karten Teamoffizielle</label>
            <p>0</p>
          </div>
        </p-panel>

        <p-panel header="Sonstige Spieldaten" [toggleable]="true" class="field mb-4 col-12">
          <!-- ZUSCHAUER -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Zuschauer</label>
            <p>34</p>
          </div>

          <!-- SPESEN -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Spesen</label>
            <p>25,00€</p>
          </div>

          <!-- FAHRGELD -->
          <div class="field mb-4 col-12 md:col-4">
            <label for="country" class="font-medium text-900">Fahrgeld</label>
            <p>5,60€</p>
          </div>
        </p-panel>

        <!-- NOTIZEN -->
        <div class="field mb-4 col-12">
          <p-panel header="Notizen" [toggleable]="false">
            Hier stehen meine ganzen Notizen.
          </p-panel>
        </div>

        <!-- BEOBACHTUNG NOTE -->
        <div class="field mb-4 col-12">
          <p-panel header="Beobachtungsnote" [toggleable]="false">
            60
          </p-panel>
        </div>

        <!-- ZURÜCK BUTTON -->
        <div class="field mb-4 col-12 md:col-3">
          <button [routerLink]="'../../matches'" pButton pRipple type="button" label="Zurück"
                  class="p-button-outlined p-button-danger"></button>
        </div>
      </div>
    </div>
  </div>
</div>
